body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    color: #00ccff;
    text-decoration: wavy;
    
  }
  
  header {
    background-image: linear-gradient(to bottom, #7f00ff, #e100ff);
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .product img {
    width: 100%;
  }
  
  .product h3 {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .product p {
    text-align: center;
    font-weight: bold;
    color: #00ccff;
  }
  
  button {
    background-color: #00ccff;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  footer {

    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #111111;
    padding: 20px;
    color: #00ccff;
    text-align: center;
  }

  .contact-container {
    text-align: center;
    width: 50%; /* adjust the width as needed */
    margin: 0 auto; /* center the element horizontally */
  }
  
  .social-media {
    display: flex;
    justify-content: space-around; /* distribute the links evenly across the container */
  }
  
  a {
    color: blue;
  }
  